.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }

.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  } 

 .heading {
    text-align: center;
 } 

h1 {
    font-size: 50px;
    margin-top: 40px;
} 

.heading h4{
    font-size: 20px;
    margin: 20px;
}

hr {
    width: 80%;
    border: none; /* Remove default border */
    height: 1px; /* Set the thickness of the line */
    background-color: rgb(180, 179, 179);
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
   
}

.container div {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

.education, .skills {
    width: 330px;
}

.container hr{
    width: 90%;
}
